* {
	box-sizing: border-box;
	text-transform: capitalize;
}
:root {
	--background-1: #3b4664;
	--btcolor-1: #eae3db;
	--btcolor-hover-1: #ffffff;
	--btn-sect-1: #252d44;
	--head-color-1: #ffffff;
	--screen-color-1: #181f32;
	--equal-1: #d13f30;
	--del-1: #647299;
	--equal-hover-1: #f96c5b;
	--del-hover-1: #a2b3e1;

	--background-2: #e6e6e6;
	--btn-sect-2: #d3cdcd;
	--btcolor-2: #e5e4e1;
	--btcolor-hover-2: #fff;
	--head-color-2: black;
	--screen-color-2: #eeeeee;
	--equal-2: #c85401;
	--del-2: #388187;
	--equal-hover-2: #ff8b38;
	--del-hover-2: #62b5bd;

	--background-3: #17062a;
	--btcolor-3: #331b4d;
	--btcolor-hover-3: #8631b0;
	--btn-sect-3: #1e0836;
	--head-color-3: gold;
	--screen-color-3: #1e0836;
	--equal-3: #00decf;
	--del-3: #56077c;
	--equal-hover-3: #94fff9;
	--del-hover-3: #8631b0;
}
.container {
	background-color: var(--background-1);
	padding: 50px;
	height: 95vh;
}
.container > nav,
.container > section {
	margin: 10px auto;
	width: 50%;
}
.container > nav {
	color: var(--head-color-1);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.container > nav > .theme-bar {
	display: flex;
	flex-flow: row nowrap;
	gap: 20px;
}
.container > nav > .theme-bar > .theme-color {
	display: flex;
	flex-flow: row nowrap;
	gap: 10px;
	align-items: center;
	position: relative;
	z-index: 1;
}
.theme-color::after {
	content: "";
	width: 130%;
	height: 16px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.312);
	left: -16%;
	bottom: 2%;
	border-radius: 20%;
	z-index: -1;
}
.container > nav > .theme-bar > .theme-color > ul {
	list-style: none;
	padding: 0px;
	position: relative;
	font-size: 15px;
	margin: 0;
}
ul > span {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--btcolor-1);
	bottom: -75%;
	left: 0;
	transform: translatex(-15%);
	cursor: pointer;
	opacity: 0.3;
}
.active {
	opacity: 1;
}
/* screen section  */
.form {
}
.form #num-in {
	padding: 25px;
	width: 100%;
	border-radius: 10px;
	background-color: var(--screen-color-1);
	color: var(--head-color-1);
}
.form #num-in::placeholder {
	color: inherit;
}
.form #num-in::-webkit-inner-spin-button,
.form #num-in::-webkit-outer-spin-button {
	display: none;
}
/* buttons section */
.buttons {
	background-color: var(--btn-sect-1);
	display: grid;
	grid-template: repeat(5, 1fr) / repeat(4, 1fr);
	gap: 10px;
	padding: 20px;
	border-radius: 15px;
}
.buttons button {
	background-color: var(--btcolor-1);
	border-radius: 10px;
	border: none;
	border-bottom: 2px solid;
	font-weight: 900;
	font-size: 20px;
	cursor: pointer;
}
.buttons button:hover {
	background-color: var(--btcolor-hover-1);
}
.buttons #equal,
.buttons #clear {
	grid-column: span 2;
	color: white;
}
.buttons #equal {
	background-color: var(--equal-1);
}
.buttons #equal:hover {
	background-color: var(--equal-hover-1);
}
.buttons #del,
.buttons #clear {
	background-color: var(--del-1);
	color: white;
}
.buttons #del:hover,
.buttons #clear:hover {
	background-color: var(--del-hover-hover-1);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/* /////////||||||||||||\\\\\\\\\\\\ */
.container.a2 {
	background-color: var(--background-2);
}
.container.a3 {
	background-color: var(--background-3);
}
nav.a2 {
	color: var(--head-color-2);
}
nav.a3 {
	color: var(--head-color-3);
}
.form #num-in.a2 {
	background-color: var(--screen-color-2);
	color: var(--head-color-2);
}
.form #num-in.a3 {
	background-color: var(--screen-color-3);
	color: var(--head-color-3);
}
.buttons.a2 {
	background-color: var(--btn-sect-2);
}
.buttons.a3 {
	background-color: var(--btn-sect-3);
}
button.a2 {
	background-color: var(--btcolor-2);
	color: var(--head-color-2);
}
button.a2:hover {
	background-color: var(--btcolor-hover-2);
}
button.a3 {
	background-color: var(--btcolor-3);
	color: var(--head-color-3);
}
button.a3:hover {
	background-color: var(--btcolor-hover-3);
}
.buttons #equal.a2 {
	background-color: var(--equal-2);
}
.buttons #del.a2,
.buttons #clear.a2 {
	background-color: var(--del-2);
}
.buttons #equal.a2:hover {
	background-color: var(--equal-hover-2);
}
.buttons #del.a2:hover,
.buttons #clear.a2:hover {
	background-color: var(--del-hover-2);
}
.buttons #equal.a3 {
	background-color: var(--equal-3);
}
.buttons #del.a3,
.buttons #clear.a3 {
	background-color: var(--del-hover-3);
}
.buttons #equal.a3:hover {
	background-color: var(--equal-hover-3);
}
.buttons #del.a3:hover,
.buttons #clear.a3:hover {
	background-color: var(--del-hover-3);
}
